version: '3'
services:
  auth:
    image: mlan/openldap
    hostname: auth
    networks:
      - backend
    command: --root-cn ${LDAPROOT_CN-admin} --root-pw ${LDAPROOT_PW-secret}
    environment:
      - LDAPURI=${LDAPURI-ldapi:/// ldap:///}
      - LDAPBASE=${LDAPBASE-dc=example,dc=com}
      - LDAPDEBUG=${LDAPDEBUG-parse}
    volumes:
      - auth:/srv
      - ./ssl:/srv/ssl
      - /etc/localtime:/etc/localtime:ro        # Use host timezone

  gui:
    image: osixia/phpldapadmin
    hostname: gui
    ports:
      - "127.0.0.1:8001:80"
    networks:
      - backend
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=auth
      - PHPLDAPADMIN_HTTPS=false

networks:
  backend:

volumes:
  auth:
